<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.gupt.community.mapper.StudentMapper">
    <resultMap id="BaseResultMap" type="Student">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="TINYINT"/>
        <result column="state" property="state" jdbcType="BIT"/>
        <result column="register_time" property="registerTime" jdbcType="TIMESTAMP"/>
        <result column="forbid_time" property="forbidTime" jdbcType="TIMESTAMP"/>
        <result column="permission" property="permission" jdbcType="TINYINT"/>
        <result column="union_id" property="unionId" jdbcType="VARCHAR"/>
        <result column="open_id" property="openId" jdbcType="VARCHAR"/>
        <result column="class_name" property="className" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findStudentByUid" resultType="Student" resultMap="BaseResultMap">
        SELECT *
        FROM tbl_student
        WHERE uid = #{uid}
    </select>
    <select id="findUserInfo" resultType="Student" resultMap="BaseResultMap">
        SELECT nickname,avatarUrl,uid FROM tbl_student WHERE uid = #{uid}
    </select>
    <select id="findStudentByOpenId" resultType="Student" resultMap="BaseResultMap">
        SELECT *
        FROM tbl_student
        WHERE open_id = #{openId}
    </select>
    <insert id="insert" parameterType="Student">
        INSERT INTO tbl_student (uid, real_name, register_time,union_id, open_id, class_name)
        VALUES ( #{uid,jdbcType=INTEGER}, #{realName,jdbcType=VARCHAR},
                #{registerTime,jdbcType=TIMESTAMP},#{unionId,jdbcType=VARCHAR},
                #{openId,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR})
    </insert>
    <!--更新微信用户信息-->
    <update id="updateStudentWxInfo">
        UPDATE tbl_student
        SET nickname  = #{nickName,jdbcType=VARCHAR},
            avatarUrl = #{avatarUrl,jdbcType=VARCHAR},
            sex       =#{sex}
        WHERE open_id = #{openId,jdbcType=INTEGER}
    </update>
</mapper>